body {
    margin: 0;
    background-color: darkred;
    font-family: 'Anton', sans-serif;

}

.topnav {
    display: flex;
    background-color: white;
    height: 20%;
}

@media (min-width: 1441px) {
    .topnav {
        height: 17%;
    }

}





#logo {
    width: 250px;
    height: 150px;
}
.wrapper {
    display: grid;
    grid-template-columns:  40% 60%;
    padding: 4%;
    background-color: black;


}

.aboutus, a {
    padding: 2%;
    color: white;

}
#aboutuslogo {
    width: 100%;
}