body {
    margin: 0px;
    background-color: darkred;
}

h1 {
    margin: 0;
}

.topnav {
    display: flex;
    align-items: center;
    background-color: white;
    border-top: 10px solid darkred;
    border-bottom: 10px solid darkred;
}

.topnav > ul, li, a {
    display: flex;
    margin: 20px;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: black;
}


#logo {
    width: 250px;
    height: 150px;
}
#burgerpic {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;

}

.centercontent {
    width: 70%;
    display: block;
    text-align: center;
    font-size: 50px;
    font-family: 'Anton', sans-serif;
    position: absolute;
    left: 50%;
    bottom: 40%;
    transform: translate(-50%, -50%);

}

.imgandtxt {
    position: relative;
    text-align: center;
    color: white;
}
.menu {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 500px;
    padding-top: 10px;
    position: relative;
    text-align: right;
    color: white;
    padding-bottom: 10px;
}
.menu> div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    columns:1;
    font-size: 20px;
    padding: 110px 20px 20px 20px;
    font-family: 'Anton', sans-serif;
    background-color: black;
    margin-right: 10px;
    line-height: 50px;
}

.center {
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
}
.menu a {
    font-size: 50px;
    color: white;
    font-family: 'Anton', sans-serif;
    columns: 2;

}
a:hover {
    color: darkred;
    -webkit-transition: opacity 2s ease-in;
}
#grillburger {
    width: 100%;
    height: 100%;
    padding-right: 5px;
    grid-column: 2;
}
#bonfire {
    width: 50%;
    padding-left: 5px;
}


.wrapper {
    display: grid;
    grid-template-columns:  40% 60%;
    padding: 4%;
    background-color: black;
}
.wrapper p {
    color: white;
    margin: 30px;
    font-family: 'Anton', sans-serif;

}

#aboutuslogo {
    width: 100%;
}

.whyexbtn {
    width: 100%;
}

.whyexbtn > button {
    border: none;
    height: 100px;
    width: 100%;
    font-size: 25px;
    background-color: black;
    color: whIte;
    margin: 0 0 10px 0;
}

.whyexbtn > button:focus {
    outline: 0;
}




#whyExpensive {
    display: none;
    margin: 40px auto;
    color: white;
    font-family: "Raleway", sans-serif;
}

#wherebeef {
    display: none;
    color: white;
    font-family: "Raleway", sans-serif;
    margin: 40px auto;
}

.burger-center-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: darkred;
    height: auto;
}
.burger-center-content > p {
    color: white;
    font-size: 35px;
    font-family: 'Anton', sans-serif;
    margin:40px;
}



footer {
    background-color: black;
    height: auto;

}

footer> ul {
    color: white;
    display: flex;
    margin: 0;
}

footer a {
    color: white;

}

.iframe {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

}

iframe {
    width: 74%;
    height: 600px;
}

.subscribe {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 40px auto;
    font-family: 'Anton', sans-serif;
}

.subscribe-info input {
    display: flex;
    flex-direction: column;
    border: none;
}

.subscribe-social {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sub-footer {
    width: 100%;
    background-color: #212121;
    height: 330px;
    display: flex;
    align-items: center;
}